@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --black: #000000;
  --dark-primary: #272937;
  --dark-secondary: hsla(233, 17%, 18%, 0.5);
  --dark-tertiary: hsla(233, 17%, 18%, 0.35);
  --dark-quaternary: hsla(233, 17%, 18%, 0.12);
  --dark-background: hsla(233, 17%, 18%, 0.05);
  --white: #ffffff;
  --light-primary: rgba(255, 255, 255, 0.93);
  --light-secondary: rgba(255, 255, 255, 0.65);
  --light-tertiary: rgba(255, 255, 255, 0.35);
  --light-quaternary: rgba(255, 255, 255, 0.2);
  --light-background: rgba(255, 255, 255, 0.1);
  --pressed: #005ce5;
  --accent-primary: #0066ff;
  --hover: #3385ff;
  --info: #3385ff;
  --success: #48b527;
  --warning: #ffb649;
  --danger: #ff3a30;
  --gray-1: rgba(255, 255, 255, 1);
  --gray-2: rgba(250, 250, 250, 1);
  --gray-3: rgba(245, 245, 245, 1);
  --gray-5: rgba(217, 217, 217, 1);
  --gray-6: rgba(191, 191, 191, 1);
  --gray-7: rgba(140, 140, 140, 1);
  --gray-9: rgba(38, 38, 38, 1);
  --blue-6: rgba(24, 144, 255, 1);
  --blue-5: rgba(64, 169, 255, 1);
  --blue-7: rgba(9, 109, 217, 1);
  --heavy: 600;
  --medium: 400;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  offset-position: top;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: inherit;
}

body {
  background: #e5e5e5;
}

.main-form {
  width: 100%;
  max-width: 500px;
}

.icon-user {
  background: url(./assets/user.svg);
}

.box-border {
  box-sizing: border-box;
}

.box-content {
  box-sizing: content-box;
}

.shadow-sm {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px;
}

.shadow-md {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.shadow-lg {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.none {
  display: none;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-col {
  flex-direction: column;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-justify-center {
  justify-content: center;
}

.flex-items-center {
  align-items: center;
}

.flex-grow {
  flex-grow: 1;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.pos-fixed {
  position: fixed;
}

.pos-sticky {
  position: sticky;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.w-100vw {
  width: 100vw;
}

.h-100vh {
  height: 100vh;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mr-\[10px\] {
  margin-right: 10px;
}

.mt-\[50px\] {
  margin-top: 50px;
}

.p-sm {
  padding: 8px 12px;
}

.p-md {
  padding: 10px 15px;
}

.p-lg {
  padding: 10px 20px;
}

.p-10 {
  padding: 10px;
}

.overflow-auto {
  overflow: auto;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-visible {
  overflow: visible;
}

.overflow-hidden {
  overflow: hidden;
}

.visibility-0 {
  visibility: hidden;
}

.visibility-1 {
  visibility: visible;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.bg-none {
  background: none;
}

.bg-transparent {
  background: transparent;
}

.bg-fixed {
  background-attachment: fixed;
}

.bg-local {
  background-attachment: local;
}

.bg-scroll {
  background-attachment: scroll;
}

.bg-clip-border {
  background-clip: border-box;
}

.bg-clip-content {
  background-clip: content-box;
}

.bg-clip-padding {
  background-clip: padding-box;
}

.bg-clip-text {
  background-clip: text;
}

.bg-x-l {
  background-position-x: left;
}

.bg-x-c {
  background-position-x: center;
}

.bg-x-r {
  background-position-x: right;
}

.bg-y-t {
  background-position-y: top;
}

.bg-y-c {
  background-position-y: center;
}

.bg-y-b {
  background-position-y: bottom;
}

.bg-x\[10px\] {
  background-position-x: 10px;
}

.bg-repeat {
  background-repeat: repeat;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-repeat-x {
  background-repeat: repeat-x;
}

.bg-repeat-y {
  background-repeat: repeat-y;
}

.bg-auto {
  background-size: auto;
}

.bg-cover {
  background-size: cover;
}

.bg-contain {
  background-size: contain;
}

.bg-s-14 {
  background-size: 14px;
}

.bg-s-12 {
  background-size: 12px;
}

.bg-gray-1 {
  background-color: var(--gray-1);
}

.bg-gray-2 {
  background-color: var(--gray-2);
}

.bg-blue-5 {
  background-color: var(--blue-5);
}

.bg-blue-6 {
  background-color: var(--blue-6);
}

.bg-blue-7 {
  background-color: var(--blue-7);
}

.round-sm {
  border-radius: 2px;
}

.round-md {
  border-radius: 5px;
}

.round-lg {
  border-radius: 10px;
}

.border-0 {
  border-width: 0px;
}

.border-1 {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-4 {
  border-width: 4px;
}

.border-8 {
  border-width: 8px;
}

.border-gray-9 {
  border-color: var(--gray-9);
}

.border-gray-5 {
  border-color: var(--gray-5);
}

.border-blue-5 {
  border-color: var(--blue-5);
}

.border-blue-6 {
  border-color: var(--blue-6);
}

.border-danger {
  border-color: var(--danger);
}

.border-top-gray-1 {
  border-top-color: var(--gray-1) !important;
}

.border-top-gray-9 {
  border-top-color: var(--gray-9) !important;
}

.border-top-blue-6 {
  border-top-color: var(--blue-6) !important;
}

.border-default {
  border: 1px solid var(--gray-5);
}

.border-danger {
  border: 1px solid var(--danger);
}

.border-dashed {
  border: 1px dashed var(--gray-5);
}

.H-12 {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.3px;
}

.H-14 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.1px;
}

.H-16 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.6px;
}

.H-20 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.8px;
}

.H-24 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -1px;
}

.H-32 {
  font-size: 32px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -1px;
}

.H-40 {
  font-size: 40px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -1.5px;
}

.H-56 {
  font-size: 56px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -2px;
}

.H-72 {
  font-size: 72px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -3px;
}

.P-24 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -1px;
}

.P-20 {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.8px;
}

.P-16 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.6px;
}

.P-14 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.1px;
}

.P-12 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.3px;
}

.weight-300 {
  font-weight: 300;
}

.weight-400 {
  font-weight: 400;
}

.weight-500 {
  font-weight: 500;
}

.weight-700 {
  font-weight: 700;
}

.text-12 {
  font-size: 12px;
}

.text-14 {
  font-size: 14px;
}

.text-16 {
  font-size: 16px;
}

.text-18 {
  font-size: 18px;
}

.text-20 {
  font-size: 20px;
}

.text-24 {
  font-size: 24px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-gray-1 {
  color: var(--gray-1);
}

.text-gray-9 {
  color: var(--gray-9);
}

.text-blue-5 {
  color: var(--blue-5);
}

.text-blue-6 {
  color: var(--blue-6);
}

.text-blue-7 {
  color: var(--blue-7);
}

.input::placeholder {
  color: var(--gray-7);
}

.input:hover {
  border: 1px solid var(--blue-5);
}

.input:focus {
  border: 1px solid var(--blue-6);
  box-shadow: 0px 0px 4px rgba(24, 144, 255, 0.5);
}

.input-sm {
  padding: 1px 8px 1px 28px;
}

.input-md {
  padding: 5px 12px 5px 32px;
}

.input-lg {
  padding: 8px 12px 8px 34px;
}

.input-disabled {
  cursor: not-allowed;
  color: var(--gray-6);
  background-color: var(--gray-3);
}

.input-disabled:hover {
  border-color: var(--gray-5);
  box-shadow: none;
}

.btn {
  cursor: pointer;
}

.btn-sm {
  padding: 1px 8px;
}

.btn-md {
  padding: 5px 16px;
}

.btn-lg {
  padding: 8px 16px;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--blue-5);
}

.btn-primary:active {
  background-color: var(--blue-7);
}

.btn-disabled {
  cursor: not-allowed;
  color: var(--gray-6);
  background-color: var(--gray-3) !important;
  border: 1px solid var(--gray-5);
}

.btn-disabled:hover {
  color: var(--gray-6);
  background-color: var(--gray-3);
}

.btn-loading {
  opacity: 0.65;
}

.loader {
  width: 16px;
  height: 16px;
  border: 2px solid transparent;
  border-top: 2px solid;
  border-radius: 50%;
  margin-right: 5px;
  animation: spin 2s linear infinite;
}

.btn-loading > .loader {
  display: block;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
